## Import Libraries

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

## Load the Dataset

In [23]:
df = pd.read_csv('merged4.csv')
df

,Severity_t,Start_Lat_t,Start_Lng_t,Distance(mi)_t,DelayFromTypicalTraffic(mins)_t,DelayFromFreeFlowSpeed(mins)_t,Congestion_Speed_t,City_t,County_t,State_t,...,State_w,ZipCode_w,StartDate(UTC)_w,EndDate(UTC)_w,StartTime(UTC)_Time_w,EndTime(UTC)_Time_w,FormattedStartTime_t,FormattedEndTime_t,FormattedStartTime_w,FormattedEndTime_w
0,1,40.114704,-92.556370,5.91,2,2,Fast,Kirksville,Adair,MO,...,MO,63501,2019-10-31,2019-10-31,00:04:00,00:29:00,2019-10-31T09:47:00.000Z,2019-10-31T10:43:07.000Z,2019-10-31T00:04:00.000Z,2019-10-31T00:29:00.000Z
1,1,40.114704,-92.556370,5.91,2,2,Fast,Kirksville,Adair,MO,...,MO,63501,2019-10-31,2019-10-31,00:29:00,01:02:00,2019-10-31T09:47:00.000Z,2019-10-31T10:43:07.000Z,2019-10-31T00:29:00.000Z,2019-10-31T01:02:00.000Z
2,1,40.114704,-92.556370,5.91,2,2,Fast,Kirksville,Adair,MO,...,MO,63501,2019-10-31,2019-10-31,01:02:00,01:19:00,2019-10-31T09:47:00.000Z,2019-10-31T10:43:07.000Z,2019-10-31T01:02:00.000Z,2019-10-31T01:19:00.000Z
3,1,40.114704,-92.556370,5.91,2,2,Fast,Kirksville,Adair,MO,...,MO,63501,2019-10-31,2019-10-31,02:07:00,13:42:00,2019-10-31T09:47:00.000Z,2019-10-31T10:43:07.000Z,2019-10-31T02:07:00.000Z,2019-10-31T13:42:00.000Z
4,1,40.114704,-92.556370,5.91,2,2,Fast,Kirksville,Adair,MO,...,MO,63501,2019-10-31,2019-10-31,13:51:00,13:57:00,2019-10-31T09:47:00.000Z,2019-10-31T10:43:07.000Z,2019-10-31T13:51:00.000Z,2019-10-31T13:57:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4637429,1,39.817380,-76.840996,6.13,6,6,Moderate,Spring Grove,York,PA,...,PA,17362,2019-07-05,2019-07-05,21:53:00,22:13:00,2019-07-05T16:14:00.000Z,2019-07-05T16:57:20.000Z,2019-07-05T21:53:00.000Z,2019-07-05T22:13:00.000Z
4637430,1,39.817380,-76.840996,6.13,6,6,Moderate,Spring Grove,York,PA,...,PA,17362,2019-07-05,2019-07-05,22:31:00,22:53:00,2019-07-05T16:14:00.000Z,2019-07-05T16:57:20.000Z,2019-07-05T22:31:00.000Z,2019-07-05T22:53:00.000Z
4637431,0,33.014297,-98.948784,6.51,1,3,Fast,Graham,Young,TX,...,TX,76450,2022-08-10,2022-08-10,20:35:00,20:55:00,2022-08-10T12:50:00.000Z,2022-08-10T13:59:38.000Z,2022-08-10T20:35:00.000Z,2022-08-10T20:55:00.000Z
4637432,0,33.014297,-98.948784,6.51,1,3,Fast,Graham,Young,TX,...,TX,76450,2022-08-10,2022-08-11,22:35:00,00:55:00,2022-08-10T12:50:00.000Z,2022-08-10T13:59:38.000Z,2022-08-10T22:35:00.000Z,2022-08-11T00:55:00.000Z
4637433,0,40.079018,-102.226950,1.01,1,1,Fast,Wray,Yuma,CO,...,CO,80758,2017-12-21,2017-12-21,16:55:00,20:35:00,2017-12-21T13:52:00.000Z,2017-12-21T14:33:53.000Z,2017-12-21T16:55:00.000Z,2017-12-21T20:35:00.000Z

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4637434 entries, 0 to 4637433
Data columns (total 39 columns):
 #   Column                           Dtype
---  ------                           -----
 0   Severity_t                       int64
 1   Start_Lat_t                      float64
 2   Start_Lng_t                      float64
 3   Distance(mi)_t                   float64
 4   DelayFromTypicalTraffic(mins)_t  int64
 5   DelayFromFreeFlowSpeed(mins)_t   int64
 6   Congestion_Speed_t               object
 7   City_t                           object
 8   County_t                         object
 9   State_t                          object
 10  ZipCode_t                        int64
 11  LocalTimeZone_t                  object
 12  WeatherTimeStamp_t               object
 13  Temperature(F)_t                 float64
 14  Humidity(%)_t                    int64
 15  Pressure(in)_t                   float64
 16  Visibility(mi)_t                 float64
 17  WindDir_t                        object
 18  Weather_Conditions_t             object
 19  StartDate_t                      object
 20  EndDate_t                        object
 21  StartTime_Time_t                 object
 22  EndTime_Time_t                   object
 23  Type_w                           object
 24  Severity_w                       object
 25  Precipitation(in)_w              float64
 26  TimeZone_w                       object
 27  City_w                           object
 28  County_w                         object
 29  State_w                          object
 30  ZipCode_w                        int64
 31  StartDate(UTC)_w                 object
 32  EndDate(UTC)_w                   object
 33  StartTime(UTC)_Time_w            object
 34  EndTime(UTC)_Time_w              object
 35  FormattedStartTime_t             object
 36  FormattedEndTime_t               object
 37  FormattedStartTime_w             object
 38  FormattedEndTime_w               object
dtypes: float64(7), int64(6), object(26)
memory usage: 1.3+ GB

##  Convert String Columns to DateTime

In [4]:
# converting string columns to datetime format in pandas
df['FormattedStartTime_t'] = pd.to_datetime(df['FormattedStartTime_t'])
df['FormattedEndTime_t'] = pd.to_datetime(df['FormattedEndTime_t'])
df['FormattedStartTime_w'] = pd.to_datetime(df['FormattedStartTime_w'])
df['FormattedEndTime_w'] = pd.to_datetime(df['FormattedEndTime_w'])

In [6]:
# ensure the column is converted to datetime format
df['FormattedStartTime_t'] = pd.to_datetime(df['FormattedStartTime_t'])


df['Year'] = df['FormattedStartTime_t'].dt.year
df['Month'] = df['FormattedStartTime_t'].dt.month
df['Day'] = df['FormattedStartTime_t'].dt.day

In [7]:
df[['FormattedStartTime_t','Year', 'Month', 'Day']]

             FormattedStartTime_t  Year  Month  Day
0       2019-10-31 09:47:00+00:00  2019     10   31
1       2019-10-31 09:47:00+00:00  2019     10   31
2       2019-10-31 09:47:00+00:00  2019     10   31
3       2019-10-31 09:47:00+00:00  2019     10   31
4       2019-10-31 09:47:00+00:00  2019     10   31
...                           ...   ...    ...  ...
4637429 2019-07-05 16:14:00+00:00  2019      7    5
4637430 2019-07-05 16:14:00+00:00  2019      7    5
4637431 2022-08-10 12:50:00+00:00  2022      8   10
4637432 2022-08-10 12:50:00+00:00  2022      8   10
4637433 2017-12-21 13:52:00+00:00  2017     12   21

[4637434 rows x 4 columns]

## Drop Duplicates

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4637434 entries, 0 to 4637433
Data columns (total 42 columns):
 #   Column                           Dtype
---  ------                           -----
 0   Severity_t                       int64
 1   Start_Lat_t                      float64
 2   Start_Lng_t                      float64
 3   Distance(mi)_t                   float64
 4   DelayFromTypicalTraffic(mins)_t  int64
 5   DelayFromFreeFlowSpeed(mins)_t   int64
 6   Congestion_Speed_t               object
 7   City_t                           object
 8   County_t                         object
 9   State_t                          object
 10  ZipCode_t                        int64
 11  LocalTimeZone_t                  object
 12  WeatherTimeStamp_t               object
 13  Temperature(F)_t                 float64
 14  Humidity(%)_t                    int64
 15  Pressure(in)_t                   float64
 16  Visibility(mi)_t                 float64
 17  WindDir_t                        object
 18  Weather_Conditions_t             object
 19  StartDate_t                      object
 20  EndDate_t                        object
 21  StartTime_Time_t                 object
 22  EndTime_Time_t                   object
 23  Type_w                           object
 24  Severity_w                       object
 25  Precipitation(in)_w              float64
 26  TimeZone_w                       object
 27  City_w                           object
 28  County_w                         object
 29  State_w                          object
 30  ZipCode_w                        int64
 31  StartDate(UTC)_w                 object
 32  EndDate(UTC)_w                   object
 33  StartTime(UTC)_Time_w            object
 34  EndTime(UTC)_Time_w              object
 35  FormattedStartTime_t             datetime64[ns, UTC]
 36  FormattedEndTime_t               datetime64[ns, UTC]
 37  FormattedStartTime_w             datetime64[ns, UTC]
 38  FormattedEndTime_w               datetime64[ns, UTC]
 39  Year                             int64
 40  Month                            int64
 41  Day                              int64
dtypes: datetime64[ns, UTC](4), float64(7), int64(9), object(22)
memory usage: 1.5+ GB

In [9]:
df = df.drop_duplicates()
df.shape

(4617856, 42)

## Categorize Time of Day

In [10]:
df = df.copy()

In [12]:
import pandas as pd
def categorize_time(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 18:
        return 'Afternoon'
    else:
        return 'Night'

# Ensure the column is in datetime format
df['FormattedStartTime_t'] = pd.to_datetime(df['FormattedStartTime_t'])

# Use a lambda function to apply 'categorize_time' on the hour extracted from 'FormattedStartTime_t'
df['TOD'] = df['FormattedStartTime_t'].dt.hour.apply(lambda x: categorize_time(x))

In [13]:


# Use a lambda function to apply 'categorize_time' on the hour extracted from 'FormattedStartTime_t'
df[['TOD','StartTime_Time_t','FormattedStartTime_t']]

               TOD StartTime_Time_t      FormattedStartTime_t
0          Morning         09:47:00 2019-10-31 09:47:00+00:00
1          Morning         09:47:00 2019-10-31 09:47:00+00:00
2          Morning         09:47:00 2019-10-31 09:47:00+00:00
3          Morning         09:47:00 2019-10-31 09:47:00+00:00
4          Morning         09:47:00 2019-10-31 09:47:00+00:00
...            ...              ...                       ...
4637429  Afternoon         16:14:00 2019-07-05 16:14:00+00:00
4637430  Afternoon         16:14:00 2019-07-05 16:14:00+00:00
4637431  Afternoon         12:50:00 2022-08-10 12:50:00+00:00
4637432  Afternoon         12:50:00 2022-08-10 12:50:00+00:00
4637433  Afternoon         13:52:00 2017-12-21 13:52:00+00:00

[4617856 rows x 3 columns]

In [14]:
unique_tod_values = df['TOD'].unique()
print(unique_tod_values)

['Morning' 'Night' 'Afternoon']

## Map Months to Seasons

In [15]:
# define a function to map month to season
def categorize_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'

# Create 'Season' column
df['Season'] = df['Month'].apply(categorize_season)

In [16]:
df.columns

Index(['Severity_t', 'Start_Lat_t', 'Start_Lng_t', 'Distance(mi)_t',
       'DelayFromTypicalTraffic(mins)_t', 'DelayFromFreeFlowSpeed(mins)_t',
       'Congestion_Speed_t', 'City_t', 'County_t', 'State_t', 'ZipCode_t',
       'LocalTimeZone_t', 'WeatherTimeStamp_t', 'Temperature(F)_t',
       'Humidity(%)_t', 'Pressure(in)_t', 'Visibility(mi)_t', 'WindDir_t',
       'Weather_Conditions_t', 'StartDate_t', 'EndDate_t', 'StartTime_Time_t',
       'EndTime_Time_t', 'Type_w', 'Severity_w', 'Precipitation(in)_w',
       'TimeZone_w', 'City_w', 'County_w', 'State_w', 'ZipCode_w',
       'StartDate(UTC)_w', 'EndDate(UTC)_w', 'StartTime(UTC)_Time_w',
       'EndTime(UTC)_Time_w', 'FormattedStartTime_t', 'FormattedEndTime_t',
       'FormattedStartTime_w', 'FormattedEndTime_w', 'Year', 'Month', 'Day',
       'TOD', 'Season'],
      dtype='object')

## Keep columns for analysis and visualizaton

In [17]:
df = df.drop(['StartDate_t',
              'EndDate_t',
              'WeatherTimeStamp_t', 
              'Weather_Conditions_t', 
              'Type_w', 
              'Severity_w', 
              'StartDate(UTC)_w', 
              'EndDate(UTC)_w', 
              'StartTime(UTC)_Time_w',
              'EndTime(UTC)_Time_w', 
              'FormattedStartTime_t', 
              'FormattedEndTime_t',
              'FormattedStartTime_w', 
              'FormattedEndTime_w', 
              'City_w', 
              'County_w', 
              'State_w', 
              'TimeZone_w', 
              'ZipCode_w'], axis=1)

In [18]:
df.columns = ['Sev', 
              'StartLat', 
              'StartLng', 
              'Dist(mi)', 
              'DfTyp(mins)', 
              'DfFF(mins)', 
              'CongSp', 
              'City', 
              'County', 
              'State', 
              'ZipCode', 
              'TimeZone', 
              'Temp(F)', 
              'Hum(%)', 
              'Pres(in)', 
              'Vis(mi)', 
              'WindDir',
              'StartTime',
              'EndTime',
              'Precip(in)', 
              'Year', 
              'Month', 
              'Day', 
              'TOD', 
              'Season']

In [19]:
df_clean = df.sort_values(['Year', 'Month', 'Day']).reset_index(drop=True)
df_clean

,Sev,StartLat,StartLng,Dist(mi),DfTyp(mins),DfFF(mins),CongSp,City,County,State,...,Vis(mi),WindDir,StartTime,EndTime,Precip(in),Year,Month,Day,TOD,Season
0,0,40.119274,-83.03465,1.80,0,1,Fast,Columbus,Franklin,OH,...,7.0,NW,12:42:00,13:16:05,0.00,2016,2,8,Afternoon,Winter
1,0,40.119274,-83.03465,1.80,0,1,Fast,Columbus,Franklin,OH,...,7.0,NW,12:42:00,13:16:05,0.02,2016,2,8,Afternoon,Winter
2,0,40.119274,-83.03465,1.80,0,1,Fast,Columbus,Franklin,OH,...,7.0,NW,12:42:00,13:16:05,0.02,2016,2,8,Afternoon,Winter
3,0,40.119274,-83.03465,1.80,0,1,Fast,Columbus,Franklin,OH,...,7.0,NW,12:42:00,13:16:05,0.03,2016,2,8,Afternoon,Winter
4,0,40.119274,-83.03465,1.80,0,1,Fast,Columbus,Franklin,OH,...,7.0,NW,12:42:00,13:16:05,0.00,2016,2,8,Afternoon,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617851,2,41.026596,-81.50227,3.47,4,4,Moderate,Akron,Summit,OH,...,10.0,VAR,19:02:00,20:01:44,0.00,2022,9,8,Night,Fall
4617852,2,41.026596,-81.50227,3.47,4,4,Moderate,Akron,Summit,OH,...,10.0,VAR,19:02:00,20:01:44,0.00,2022,9,8,Night,Fall
4617853,0,30.512320,-90.39422,1.42,1,1,Fast,Hammond,Tangipahoa,LA,...,7.0,N,19:57:00,20:57:20,0.00,2022,9,8,Night,Fall
4617854,0,30.512320,-90.39422,1.42,1,1,Fast,Hammond,Tangipahoa,LA,...,7.0,N,19:57:00,20:57:20,0.00,2022,9,8,Night,Fall
4617855,0,30.512320,-90.39422,1.42,1,1,Fast,Hammond,Tangipahoa,LA,...,7.0,N,19:57:00,20:57:20,0.00,2022,9,8,Night,Fall

In [20]:
df_clean.to_csv('df_clean2.csv', index=False)

In [21]:
df = pd.read_csv('df_clean2.csv')
df

,Sev,StartLat,StartLng,Dist(mi),DfTyp(mins),DfFF(mins),CongSp,City,County,State,...,Vis(mi),WindDir,StartTime,EndTime,Precip(in),Year,Month,Day,TOD,Season
0,0,40.119274,-83.03465,1.80,0,1,Fast,Columbus,Franklin,OH,...,7.0,NW,12:42:00,13:16:05,0.00,2016,2,8,Afternoon,Winter
1,0,40.119274,-83.03465,1.80,0,1,Fast,Columbus,Franklin,OH,...,7.0,NW,12:42:00,13:16:05,0.02,2016,2,8,Afternoon,Winter
2,0,40.119274,-83.03465,1.80,0,1,Fast,Columbus,Franklin,OH,...,7.0,NW,12:42:00,13:16:05,0.02,2016,2,8,Afternoon,Winter
3,0,40.119274,-83.03465,1.80,0,1,Fast,Columbus,Franklin,OH,...,7.0,NW,12:42:00,13:16:05,0.03,2016,2,8,Afternoon,Winter
4,0,40.119274,-83.03465,1.80,0,1,Fast,Columbus,Franklin,OH,...,7.0,NW,12:42:00,13:16:05,0.00,2016,2,8,Afternoon,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4617851,2,41.026596,-81.50227,3.47,4,4,Moderate,Akron,Summit,OH,...,10.0,VAR,19:02:00,20:01:44,0.00,2022,9,8,Night,Fall
4617852,2,41.026596,-81.50227,3.47,4,4,Moderate,Akron,Summit,OH,...,10.0,VAR,19:02:00,20:01:44,0.00,2022,9,8,Night,Fall
4617853,0,30.512320,-90.39422,1.42,1,1,Fast,Hammond,Tangipahoa,LA,...,7.0,N,19:57:00,20:57:20,0.00,2022,9,8,Night,Fall
4617854,0,30.512320,-90.39422,1.42,1,1,Fast,Hammond,Tangipahoa,LA,...,7.0,N,19:57:00,20:57:20,0.00,2022,9,8,Night,Fall
4617855,0,30.512320,-90.39422,1.42,1,1,Fast,Hammond,Tangipahoa,LA,...,7.0,N,19:57:00,20:57:20,0.00,2022,9,8,Night,Fall